In [1]:
import numpy as np
import pandas as pd
import datasist as ds
import pickle
import re
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\adefe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [4]:
true_df = pd.read_csv('True.csv')
fake_df = pd.read_csv('Fake.csv')

In [5]:
ds.structdata.describe(true_df)

First five data points

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

Random five data points

,title,text,subject,date
13346,Factbox: Countdown to Brexit breakthrough?,BRUSSELS (Reuters) - The next two weeks will d...,worldnews,"December 1, 2017"
8345,European Commission says 'ball still rolling' ...,BRUSSELS (Reuters) - The European Union’s exec...,politicsNews,"August 29, 2016"
4536,Highlights: The Trump presidency on March 31 a...,(Reuters) - Highlights of the day for U.S. Pre...,politicsNews,"March 31, 2017"
20243,Brazil's top court approves new graft probe of...,BRASILIA (Reuters) - A Brazilian Supreme Court...,worldnews,"September 12, 2017"
19459,Germany will strive to save Iran nuclear deal:...,NEW YORK/BERLIN (Reuters) - Germany will do al...,worldnews,"September 21, 2017"

Last five data points

,title,text,subject,date
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

Shape of  data set: (21417, 4)


Size of  data set: 85668


Data Types
Note: All Non-numerical features are identified as objects in pandas

        Data Type
title      object
text       object
subject    object
date       object

Numerical Features in Data set
[]


Categorical Features in Data set

['title', 'text', 'subject', 'date']

Statistical Description of Columns

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

Description of Categorical Features

,count,unique,top,freq
title,21417,20826,Factbox: Trump fills top jobs for his administ...,14
text,21417,21192,(Reuters) - Highlights for U.S. President Dona...,8
subject,21417,2,politicsNews,11272
date,21417,716,"December 20, 2017",182

Unique class Count of Categorical features

Missing Values in Data

  features  missing_counts  missing_percent
0    title               0              0.0
1     text               0              0.0
2  subject               0              0.0
3     date               0              0.0

In [6]:
ds.structdata.describe(fake_df)

First five data points

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

Random five data points

,title,text,subject,date
15247,YOU’LL NEVER GUESS WHAT’S PREDICTED FOR OBAMA’...,Summer snow is coming to Alaska just in time f...,politics,"Sep 1, 2015"
13976,HYSTERICAL! The Guy Who’s Spent Majority Of Bo...,Of course Obama the putz blames too little gov...,politics,"May 5, 2016"
10161,H.R. McMaster Repeatedly Refuses to Say if He ...,Alert! Alinsky tactics at work here! Remember ...,politics,"Aug 13, 2017"
19613,TRUMP’S BRINGING Churchill’s Bust Back To Oval...,Trump will bring Churchill back to the White H...,left-news,"Nov 14, 2016"
14771,Mostly White Group Of Boston College Students ...,What Catholic college campus would be complete...,politics,"Dec 20, 2015"

Last five data points

,title,text,subject,date
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

Shape of  data set: (23481, 4)


Size of  data set: 93924


Data Types
Note: All Non-numerical features are identified as objects in pandas

        Data Type
title      object
text       object
subject    object
date       object

Numerical Features in Data set
[]


Categorical Features in Data set

['title', 'text', 'subject', 'date']

Statistical Description of Columns

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

Description of Categorical Features

         count unique                                                top  freq
title    23481  17903  MEDIA IGNORES Time That Bill Clinton FIRED His...     6
text     23481  17455                                                      626
subject  23481      6                                               News  9050
date     23481   1681                                       May 10, 2017    46

Unique class Count of Categorical features

Missing Values in Data

  features  missing_counts  missing_percent
0    title               0              0.0
1     text               0              0.0
2  subject               0              0.0
3     date               0              0.0

In [7]:
#Fake = 1, True = 0
true_df["label"] = 0
fake_df["label"] = 1

In [8]:
merge = pd.concat([fake_df, true_df], axis = 0)
merge.head(10)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",1
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",1
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",1
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",1
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",1

In [9]:
#Merging Columns
news_df = merge.drop(['date'], axis=1)
news_df.head()

,title,text,subject,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,1

In [10]:
#Creating news column
news_df['content'] = news_df['subject'] +' '+news_df['title']
news_df['content']

0        News  Donald Trump Sends Out Embarrassing New ...
1        News  Drunk Bragging Trump Staffer Started Rus...
2        News  Sheriff David Clarke Becomes An Internet...
3        News  Trump Is So Obsessed He Even Has Obama’s...
4        News  Pope Francis Just Called Out Donald Trum...
                               ...
21412    worldnews 'Fully committed' NATO backs new U.S...
21413    worldnews LexisNexis withdrew two products fro...
21414    worldnews Minsk cultural hub becomes haven fro...
21415    worldnews Vatican upbeat on possibility of Pop...
21416    worldnews Indonesia to buy $1.14 billion worth...
Name: content, Length: 44898, dtype: object

In [11]:
X = news_df.drop('label', axis = 1)
y = news_df['label']

In [12]:
print(X)
print(y)

                                                   title  \
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text    subject  \
0      Donald Trump just couldn t wish all Americans ...       News
1      House Intelligence Committee Chairman Devin Nu...       News
2      On Friday, it was revealed that former Milwauk...       News
3      On Christmas day, Donald Trump announced that ...       News
4      Pope Francis used his annual Christmas Day mes...       News
...                                                  ...        ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...  worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...  worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...  worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...  worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...  worldnews

                                                 content
0      News  Donald Trump Sends Out Embarrassing New ...
1      News  Drunk Bragging Trump Staffer Started Rus...
2      News  Sheriff David Clarke Becomes An Internet...
3      News  Trump Is So Obsessed He Even Has Obama’s...
4      News  Pope Francis Just Called Out Donald Trum...
...                                                  ...
21412  worldnews 'Fully committed' NATO backs new U.S...
21413  worldnews LexisNexis withdrew two products fro...
21414  worldnews Minsk cultural hub becomes haven fro...
21415  worldnews Vatican upbeat on possibility of Pop...
21416  worldnews Indonesia to buy $1.14 billion worth...

[44898 rows x 4 columns]
0        1
1        1
2        1
3        1
4        1
        ..
21412    0
21413    0
21414    0
21415    0
21416    0
Name: label, Length: 44898, dtype: int64

### Stemming

In [13]:
port_stem = PorterStemmer()

In [14]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [15]:
news_df['content'] = news_df['content'].apply(stemming)

In [16]:
print(news_df['content'])

0        news donald trump send embarrass new year eve ...
1        news drunk brag trump staffer start russian co...
2        news sheriff david clark becom internet joke t...
3        news trump obsess even obama name code websit ...
4        news pope franci call donald trump christma sp...
                               ...
21412    worldnew fulli commit nato back new u approach...
21413    worldnew lexisnexi withdrew two product chines...
21414               worldnew minsk cultur hub becom author
21415    worldnew vatican upbeat possibl pope franci vi...
21416     worldnew indonesia buy billion worth russian jet
Name: content, Length: 44898, dtype: object

In [17]:
# Seperating Data and label
X = news_df['content'].values
y = news_df['label'].values

In [18]:
print(X)
print(y)

['news donald trump send embarrass new year eve messag disturb'
 'news drunk brag trump staffer start russian collus investig'
 'news sheriff david clark becom internet joke threaten poke peopl eye'
 ... 'worldnew minsk cultur hub becom author'
 'worldnew vatican upbeat possibl pope franci visit russia'
 'worldnew indonesia buy billion worth russian jet']
[1 1 1 ... 0 0 0]

In [19]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

def preprocessor(X):
    X = vectorizer.transform(X)
    return X

In [20]:
preprocess_transformer = FunctionTransformer(preprocessor)

In [21]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.3, stratify = y, random_state = 2)

### Pipelines

In [22]:
def fit_and_print(p, X_train=X_train, X_test=X_test, y_train=y_train, y_test=y_test):
    p.fit(X_train, y_train)
    test_preds = p.predict(X_test)
    print('Test error: ' + str(classification_report(test_preds, y_test)))

In [23]:
p1 = Pipeline([('Scale', preprocess_transformer),
            ('Linear Regression', LogisticRegression())])

In [24]:
fit_and_print(p1)

Test error:               precision    recall  f1-score   support

           0       1.00      1.00      1.00      6424
           1       1.00      1.00      1.00      7046

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [25]:
p2 = Pipeline([('Scale', preprocess_transformer),
            ('DecisionTreeClassifier', DecisionTreeClassifier())])

In [26]:
fit_and_print(p2)

Test error:               precision    recall  f1-score   support

           0       1.00      1.00      1.00      6425
           1       1.00      1.00      1.00      7045

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [27]:
p3 = Pipeline([('Scale', preprocess_transformer),
            ('DecisionTreeClassifier', DecisionTreeClassifier())])

In [28]:
fit_and_print(p3)

Test error:               precision    recall  f1-score   support

           0       1.00      1.00      1.00      6425
           1       1.00      1.00      1.00      7045

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [29]:
p4 = Pipeline([('Scale', preprocess_transformer),
            ('RandomForestClassifier', RandomForestClassifier())])

In [30]:
fit_and_print(p4)

Test error:               precision    recall  f1-score   support

           0       1.00      1.00      1.00      6424
           1       1.00      1.00      1.00      7046

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

### Predictive Testing

In [31]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)
X = vectorizer.transform(X)
print(X)

  (0, 13106)	0.2841233635673885
  (0, 12011)	0.11801151210378362
  (0, 10342)	0.3539654263616356
  (0, 7874)	0.11122516508183175
  (0, 7866)	0.23407158318916954
  (0, 7335)	0.3484551980847141
  (0, 3949)	0.46447759682434775
  (0, 3731)	0.3635875781057666
  (0, 3404)	0.2705922497170223
  (0, 3339)	0.4126967109620307
  (1, 12011)	0.11624188294592752
  (1, 11066)	0.3360943239614603
  (1, 11032)	0.40270520669068827
  (1, 9997)	0.2787247463882496
  (1, 7874)	0.1095572998735369
  (1, 5989)	0.31084230957734127
  (1, 3523)	0.451785166223473
  (1, 2289)	0.40892456234396
  (1, 1414)	0.39206451614289717
  (2, 11718)	0.25092146173015395
  (2, 10473)	0.30794879739595504
  (2, 8836)	0.42306308562413203
  (2, 8601)	0.23286014723695025
  (2, 7874)	0.08851503079061332
  (2, 6194)	0.31676212135890697
  :	:
  (44894, 9068)	0.38418700982994514
  (44894, 7114)	0.3383825860096951
  (44894, 6698)	0.5384575482105356
  (44894, 2037)	0.3383825860096951
  (44895, 13018)	0.13294438655412533
  (44895, 7446)	0.5519026452655698
  (44895, 5588)	0.4812567733461773
  (44895, 2765)	0.4288329173759349
  (44895, 999)	0.3514972627457842
  (44895, 705)	0.37238848209646075
  (44896, 13018)	0.1282894656777007
  (44896, 12646)	0.2946717985582763
  (44896, 12527)	0.4164632989309966
  (44896, 12427)	0.4853187228289638
  (44896, 9994)	0.23262564513143297
  (44896, 8912)	0.33399902469345927
  (44896, 8884)	0.35263095946291384
  (44896, 4531)	0.4446524139201345
  (44897, 13030)	0.4649039212830797
  (44897, 13018)	0.14176748584139148
  (44897, 9997)	0.2922386411018696
  (44897, 6149)	0.43710692970048987
  (44897, 5839)	0.4423395663545152
  (44897, 1646)	0.40680460584862393
  (44897, 1130)	0.3551705974404632

In [32]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.3, stratify = y, random_state = 2)

In [33]:
model = RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [34]:
X_pred = model.predict(X_train)
training_accuracy = accuracy_score(X_pred, y_train)
print('Accuracy Score of the training data : ',training_accuracy)

Accuracy Score of the training data :  1.0

In [35]:
X_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(X_test_pred, y_test)
print('Accuracy Score of the test data : ',test_accuracy)

Accuracy Score of the test data :  0.9998515219005196

In [36]:
X_new = X_test[11]

prediction = model.predict(X_new)
print(prediction)

if (prediction[0] == 0):
    print('The news is Real')
    
else:
    print('The news is Fake')

[1]
The news is Fake

In [37]:
print(y_test[11])

1

### Saving To Pickle File

In [38]:
file = open("FakeNewsPrediction.pkl","wb")
pickle.dump(model, file)
file.close()

In [39]:
with open('FakeNewsPrediction.pkl', 'rb') as f:
    model = pickle.load(f)